<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu internetowego. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/6d224ca4-4d71-4ec3-b08b-2bbbcafc878c/resourceGroups/projekt/providers/Microsoft.ContainerRegistry/registries/musicBaseRejestr</ResourceId>
    <ResourceName>musicBaseRejestr</ResourceName>
    <ResourceGroup>projekt</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://musicbaserejestr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d1438db9-c79f-44ab-94a8-14d6d4d2dd95</ProjectGuid>
  </PropertyGroup>
</Project>